<!DOCTYPE html>
<html>

  <head>
    <title></title>
  </head>

  <body>
    {%extends "learn/base.html"%} {%block content %}
    <h3><a href="{% url 'learn:topic' topic.id %}">{{ topic}}</a></h3>
    <div>add a new Entry:</div>
    <div>
      <form action="{% url 'learn:new_entry' topic.id %}" method="POST" class='form'>
        {%csrf_token%}{{form.as_p}}
        <button name='submit' class='btn btn-primary'>add entry</button>
      </form>
    </div>
    {%endblock content%}
  </body>

</html>
