<!DOCTYPE html>
<html>

  <head>
    <title></title>
  </head>

  <body>
    {%extends "learn/base.html"%}
    <div>
      {%block content %}
      <p><a href="{% url 'learn:topic' topic.id %}">{{ topic}}</a></p>
      <div>add a new Entry:</div>
      <div>
        <form action="{% url 'learn:new_entry' topic.id %}" method="POST">
          {%csrf_token%}{{form.as_p}}
          <button name='submit'>add entry</button>
        </form>
      </div>
    </div>
    {%endblock content%}
  </body>

</html>
