<!DOCTYPE html>
<html>

  <head>
    <title></title>
  </head>

  <body>
    {% extends "learn/base.html" %} {% block header%}
    <h2>Topics</h2>{% endblock header%} {% block content %}
    <ul>
      {% for topic in topics %}
      <li>
        <h3><a href="{% url 'learn:topic' topic.id %}">{{topic.text}}</a></h3>
      </li>
      {%empty%}
      <li>No topics have been added yet.</li>
      {% endfor %}
    </ul>
    <div>
      <h3><a class='btn btn-primary' href="{% url 'learn:new_topic' %}">add Topic</a></h3></div>
    {%endblock content%}
  </body>

</html>
