<!DOCTYPE html>
<html>

  <head>
    <title></title>
  </head>

  <body>
    {% extends "learn/base.html" %}{%block header%}
    <h3>Topics:
        <span>{{topic}}</span>
      </h3> {%endblock header%} {% block content %} {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <h3 class="panel-title">{{entry.date_added | date:'M d,Y H:i'}}
            <small style="padding-left:10px">
              <a href="{% url 'learn:edit_entry' entry.id%}" style="color: #337ab7">edit entry</a>
            </small>
          </h3>
        </div>
      </div>
      <div class="panel-body">{{entry.text | linebreaks}}</div>
    </div>
    {% empty %} There are no entries for this topic yet. {% endfor %}
    <h3>
      <a class="btn btn-primary" href="{% url 'learn:new_entry' topic.id %}">add new Entry
      </a>
    </h3> {%endblock content%}
  </body>

</html>
